<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="fragment" content="!">
		<meta name="twitter:card" content="summary">
		<meta property="og:title" content="{{meta_title}}">
        <meta property="og:description" content="{{meta_description}}">
        <meta property="og:image" content="{{meta_image}}">
		<meta name="description" content="{{meta_description}}">
        <meta name="keywords" content="{{meta_keywords}}">
        <meta name="author" content="">
        <title>{{meta_title}}</title>
		<link rel="shortcut icon" href="//codecloud.cdn.speedyrails.net/sites/5c0581a36e6f643f53050000/image/png/1520457094000/whitelogo1.png" type="image/x-icon" />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//preview-5a1891476e6f645140560000.codecloudapp.com/agile.css">
		<link href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/v-calendar@0.5.2/lib/v-calendar.min.css'>
		<link href="https://cdn.jsdelivr.net/npm/vue2-animate@1.0.4/dist/vue2-animate.min.css" rel="stylesheet">
		<link href="//codecloud.cdn.speedyrails.net/sites/59282acb6e6f647d8d520100/text/css/1438916432000/ihover.css" rel="stylesheet">
		<script src="https://use.fontawesome.com/9cb86d00ca.js"></script>
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
		<link rel="stylesheet" href="/style.css">
		
		<script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-115200481-2', 'auto');
            ga('send', 'pageview');
        </script>
        
        <script>
            // Initialize the Facebook JS SDK.
            window.fbAsyncInit = function() {
                FB.init({
                    appId            : '1987015024884837',
                    autoLogAppEvents : true,
                    xfbml            : true,
                    version          : 'v3.1'
                });
                scrapeLink(FB);
            };
            
            // Load the Facebook JS SDK Asynchronously
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            function scrapeLink(FB){
                var masterdfd = $.Deferred();
                var currentPage = window.location.href;
                FB.api('https://graph.facebook.com/', 'post', {
                    id: currentPage,
                    scrape: true
                }, function(response) {
                    if(!response || response.error){
                        masterdfd.reject(response);
                    }else{
                        masterdfd.resolve(response);
                    }
                });
                return masterdfd;
            }
        </script>
	</head>
	<body>
	    {%raw-%} 
    		<div id="app" v-cloak>
    			<loader v-if="!dataLoaded"></loader>
    			<div class="main_content_container" v-if="dataLoaded">
    			    <h1 style="display:none;">{{property.name}}</h1>
    			    <header-component></header-component>
    				<transition name="custom-classes-transition" enter-active-class="fadeIn">
    					<router-view class="router_content" :locale="locale"></router-view>
    				</transition>
    				<div class="footer">
    					<div class="site_container">
    						<div class="footer_logos">
    							<div class="site_logo ">
    								<router-link to="/"><img :src="property_logo" :alt="property.name"/></router-link>
    							</div>
    							<div class="footer_property">
    								<a href="https://www.morguard.com/" target="_blank">
    								<img src="//codecloud.cdn.speedyrails.net/sites/5c0581a36e6f643f53050000/image/png/1524517405981/Morguard_White_3.5inch.png" class="" alt="Managed by Morguard">
    								</a>
    							</div>
    							<div class="safe_emplyer_logo">
    								<a href="https://www.morguard.com/news-knowledge/posts/cse2017-silverwin" target="_blank">
    								    <img src="//codecloud.cdn.speedyrails.net/sites/5afb34e36e6f646e4a5d0000/image/png/1539965304000/logo.png" alt="Morguard Safest Employer Award"/>
    								</a>
    							</div>
    							<div class="safe_emplyer_logo">
    								<a href="http://www.bomatoronto.org/" target="_blank">
    								    <img src="//codecloud.cdn.speedyrails.net/sites/5c0581a36e6f643f53050000/image/png/1524067718311/BOMA BEST_Certified_Platinum_Transparent.png" alt="BOMA Best Certified Platinum"/>
    								</a>
    							</div>
						    </div>
    						<div class="footer_social">
                                <social-links></social-links>
    						</div>
    						<div class="footer_terms">
    							<p>&copy; {{copyright_year}}<span class="caps"> {{property.name}}</span> {{$t("footer.all_rights")}}<a href="https://www.morguard.com/privacy/" target="_blank"> {{$t("footer.privacy_policy")}} </a> <span class="hidden_phone">|</span><span> {{$t("footer.powered_by")}}<a href="//www.mallmaverick.com" target="_blank"> Mall Maverick</a></span></p>
    							*Terms & Conditions may apply
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class='modal-backdrop custom_backdrop hidden_now' id="popup_backdrop"></div>
		{%endraw-%} 
		<script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
		<script src="https://unpkg.com/es6-shim@0.35.3/es6-shim.min.js"></script>
		<script data-main="/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
	</body>
</html>